/* CSS Document */

.list-panel {
	background-image: url(/images/bemtevi/backgrounds/lists-panels-alt.png);
	background-repeat:no-repeat;
	width:932px;
	margin:10px auto;
}
#promo-panel {
	height: 480px;
	background-position:left top;
}
.list-panel .header {
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 10px;
	position:relative;
}
.list-panel .header p {
  color: #847654;
  font-size: 18px;
	text-align: center;
	margin:0;
	padding-top:15px;
}
.list-panel .header a {
	position:absolute;
  color: #847654;
  font-size: 12px;
	text-decoration:none;
}
.list-panel #new-promo-btn {
	background:url(/images/bemtevi/btn/sprite-btn.png) -263px -161px no-repeat;
	right:15px;
	top:11px;
	height:32px;
	padding: 8px 0 0 40px;
}

.list-panel .foo {
	padding: 40px 80px 0 100px;
	position:relative;
	outline:none;
}
.list-panel input.previous, 
.list-panel input.next 
{
  background-color: transparent;
  background-image: url("/images/bemtevi/btn/sprite-btn.png");
  background-repeat: no-repeat;
  border: medium none;
  height: 70px;
  outline: medium none;
  position: absolute;
  text-indent: -999em;
  width: 70px;
	opacity:.7;
	cursor:pointer;
}
.list-panel input.hover {
	opacity:1;
}
#promo-panel input.previous {
  left: 20px;
  top: 190px;
	background-position:-163px 0px;
}
#promo-panel input.next {
  right: 8px;
  top: 190px;
	background-position:-232px 0px;
}
.list-panel ul {
	margin: 0;
	padding:0;
}
.list-panel ul li {
    height: 360px;
    width:750px;
	float:left;
	list-style:none;
}
#tpl-container {
    padding:25px 10px 0 15px;
    height:365px;
}
div.tpl-list-item {
    background:url(/images/bemtevi/backgrounds/lists-templates.png) -5px -10px no-repeat;
    float:left;
    padding:0 5px 20px; 
    position:relative;
	width: 140px;
    height:178px;
}
div.active {
    background-position: -5px -205px;
}
div.inactive {
    background-position: -175px -205px;
}
div.tpl-list-item img {
  height: 82%;
    margin: 12px 0 0 12px;
  width: 82%;
}

div.tpl-list-item div {
    position:absolute;
    top:65px;
    left: 45px;
}

div.tpl-list-item label {
    font-size: 12px;
    color:#6f6449;
    display:block;
    width:100%;
    text-align:center;
    margin-top:8px;
    font-weight:bold;
}

#pagination, .pagination {
    margin: 10px;
    text-align:center;
}
#pagination a, .pagination a {
  color: #847654;
  font-size: 18px;
  font-weight: normal;
    text-decoration:none;
    margin:0 5px;
}
#pagination a:hover, .pagination a:hover {
    text-decoration:underline;
}
#pagination a.active, .pagination a.active {
    text-decoration: underline;
    font-weight:bold;
}

.pagination .disabled {
  display: none;
}

.pagination em {
  opacity: 100;
  filter: none;
  position: inherit;
  font-style: normal;
}