.overlay_images_conatainer_div{
  max-height: 390px;
  min-width: 487px;
  overflow: hidden;
}
.overlay_images_conatainer_div fieldset{
  overflow: hidden;
  max-height: 350px;
}
.overlay_images_conatainer_div fieldset:hover{
  height: auto;
  max-height: 3000px;
}
.overlay_images_conatainer_div:hover{
  overflow: auto;
  overflow-x: hidden;
}
.summary_product_overlay_images, .detail_product_overlay_images{
  min-width: 460px;
  height: 100px;
}
div.product_overlay_child{
  float:left;
  padding: 5px 10px;
}
.input_tag_container{
  width: 200px;
}
.input_tag_container input{
  margin-top:25px;
  width: 180px;
  border-radius: 3px;
}
.view_file{
  width:100px;
  overflow: hidden;
  text-align: center;
}
.view_file p{
  vertical-align: middle;
  display: table-cell;
}
.view_file img{
  width: 60px;
  height:70px;
}
.file_remove{
  margin-top:25px;
  width: 100px;
}
.file_remove label{
  display: inline;
  color: #666;
  cursor: pointer;
}
.file_remove a{
  color: #666 !important;
  cursor: pointer;
  font-weight: bold;
}
.product_overlay_images{
  float: left;
}

.template-container {
  margin: 0px;
  float: left;
  padding: 46px 46px 25px 35px;
  width: 429px;
}
#template-container-detail{
  background: url(/images/bemtevi/backgrounds/template-big.png) 10px 15px no-repeat;
  height: 725px;
  width: 423px;
  background-size: 98% 98%;
}
#template-container-summary{
  width: 429px;
  height: 260px;
}
.template-container.detail .regions-container{
  width: 423px;
  height: 695px;
}
.template-container .regions-container div.overlay {
  position: absolute;
  overflow: hidden;
  float: left;
}
.template-container .regions-container div textarea {
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.template-container .regions-container {
  overflow: hidden;
  border: solid 2px #CCC;
  position: relative;
  background-color: #FAFAFA;
}
.is_hidden{
  display: none
}
.template-container.summary {
  background: url(/images/bemtevi/backgrounds/template-small.png) no-repeat scroll 10px 17px transparent;
  background-size: 97% 93%;
  padding-right: 0px;
  height: 260px;
}
.template-container.summary .regions-container {
  width: 393px;
  height: 216px;
}