<h1><%= t("new_template") %></h1>

<%= form_for(@object, :url => collection_url, :html => { :multipart => true }) do |template_set_form| %>
  <%= render :partial => "template_set_form", :locals => { :f => template_set_form } %>
  <%= render :partial => "admin/shared/new_resource_links" %>
<% end %>
