<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render :partial => "manager/shared/manager_head" %>
</head>
<body>
<!--[if IE 7]>
<div id='IE7'>
<![endif]-->
<div id='wrapper'>
  <div id="content" style="margin-top: 0px">
    <img src="/images/bemtevi/pagina_5_b.png" style="width: 960px;">
    </img>
  </div>

</div>
<!--[if IE]>
</div>
<![endif]-->
</body>
</html>
