<% content_for :head do %>
  <%= stylesheet_link_tag "bemtevi/active-template" %>
  <%= javascript_include_tag "bemtevi/active-templates" %>
<% end %>

<div id="promo-panel" class="list-panel" >
	<div class="header" >
  	<p>Suas promoções ativas</p>
    <a href="/manager/promotions/new" id="new-promo-btn" title="criar promoção">criar promoção</a>
  </div>
	<div class="foo">
  	<ul>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t1-thumb.jpg" /><div><a href="#" class="deactive-template-btn"  title="Desativar">Desativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t1-thumb.jpg"  /><div><a href="#" class="deactive-template-btn"  title="Desativar">Desativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t1-thumb.jpg"  /><div><a href="#" class="deactive-template-btn"  title="Desativar">Desativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t1-thumb.jpg"  /><div><a href="#" class="deactive-template-btn"  title="Desativar">Desativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t1-thumb.jpg"  /><div><a href="#" class="deactive-template-btn"  title="Desativar">Desativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t1-thumb.jpg"  /><div><a href="#" class="deactive-template-btn"  title="Desativar">Desativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t1-thumb.jpg"  /><div><a href="#" class="deactive-template-btn"  title="Desativar">Desativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t1-thumb.jpg"  /><div><a href="#" class="deactive-template-btn"  title="Desativar">Desativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t1-thumb.jpg"  /><div><a href="#" class="deactive-template-btn"  title="Desativar">Desativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    </ul>
  </div>
</div>


<div id="hist-panel" class="list-panel" >
	<div class="header" >
  	<p>Histórico das promoções</p>
  </div>
	<div class="foo">
  	<ul>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t2-thumb.jpg"  /><div><a href="#" class="activate-template-btn"  title="Ativar">Ativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t2-thumb.jpg"  /><div><a href="#" class="activate-template-btn"  title="Ativar">Ativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t2-thumb.jpg"  /><div><a href="#" class="activate-template-btn"  title="Ativar">Ativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t2-thumb.jpg"  /><div><a href="#" class="activate-template-btn"  title="Ativar">Ativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t2-thumb.jpg"  /><div><a href="#" class="activate-template-btn"  title="Ativar">Ativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t2-thumb.jpg"  /><div><a href="#" class="activate-template-btn"  title="Ativar">Ativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t2-thumb.jpg"  /><div><a href="#" class="activate-template-btn"  title="Ativar">Ativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t2-thumb.jpg"  /><div><a href="#" class="activate-template-btn"  title="Ativar">Ativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    	<li><img src="/images/bemtevi/temp/templates/thumbs/f1t2-thumb.jpg"  /><div><a href="#" class="activate-template-btn"  title="Ativar">Ativar</a><a href="#" class="edit-template-btn"  title="Editar">Editar</a></div></li>
    </ul>
  </div>
</div>
