<% content_for :head do %>
  <%= stylesheet_link_tag "bemtevi/active-template" %>
  <%= javascript_include_tag "bemtevi/active-templates" %>
<% end %>

<h1><%= @promotions.first.name %></h1>

<div id="promo-panel" class="list-panel" >
	<div class="header" >
  	  <p>Suas promoções ativas</p>
      <a href="/manager/promotions/new" id="new-promo-btn" title="criar promoção">criar promoção</a>
    </div>
	<div id="tpl-container">
    </div>
    <div id="pagination" >
        <a href="#" class="first" title="Primeiro" ><<</a>
        <a href="#" class="prior" title="Anterior" ><</a>
        <a href="#" class="next" title="Próximo" >></a>
        <a href="#" class="last" title="Último" >>></a>
    </div>
</div>
