<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>BemTevi Administrador</title>

    <link href="/stylesheets/bemtevi/general.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/stylesheets/bemtevi/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />


    <script src="/javascripts/bemtevi/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bemtevi/jquery-ui.min.js" type="text/javascript"></script>

    <script src="/javascripts/bemtevi/templates.js" type="text/javascript"></script>
    <script src="/javascripts/bemtevi/jquery.carousel.min.js" type="text/javascript"></script>

</head>

<body>
    <div id="header" >
    <h1>Bemtevi Administrador</h1>
    <div class="user-data" >
        <label>Bem vindo,</label>
        <span>Usuário Bemtevi</span><br />
      <a href="#">Sair</a>
      <div id="logout-confirm">
        <p>Deseja realmente encerrar a sessão?</p>
        <a href="#" class="confirm-green" title="Sim">Sim</a>
        <a href="#" class="confirm-red" title="Não">Não</a>      
      </div>
    </div>
  </div>
  
  <div id="content" >
    <div id="change-tpl-btn" >
        <a href="javascript:void(0);" class="full" ><span>Completo</span></a>
        <a href="javascript:void(0);" class="small" ><span>Reduzido</span></a>
    </div>
    
    <div id="template-container" class="detail" >
        <div id="regions-container" >
      </div>
    </div>
    
    <div id="template-list" >
    </div>
    
    <div id="nav-buttons-container" >
        <a id="btnVoltar" class="nav-btn" href="javascript:void(0);" title="voltar" ><span class="left">voltar</span></a>
        <a id="btnProximo" class="nav-btn" href="javascript:void(0);" title="próximo" ><span class="right">próximo</span></a>
    </div>
  </div>
  
</body>
</html>
