<% content_for :head do %>
  <%= stylesheet_link_tag "bemtevi/create-template" %>
  <%= javascript_include_tag "bemtevi/templates" %>
<% end %>

<div id="change-tpl-btn" >
    <a href="javascript:void(0);" class="full" ><span>Completo</span></a>
    <a href="javascript:void(0);" class="small" ><span>Reduzido</span></a>
</div>

<div id="template-container-detail" class="template-container detail" >
    <div id="regions-container-detail" class="regions-container" >
    </div>
</div>

<div id="template-container-summary" class="template-container summary is-hidden" >
    <div id="regions-container-summary" class="regions-container" >
    </div>
</div>

<div id="template-list" >
</div>

<div id="nav-buttons-container" >
    <a id="btnVoltar" class="nav-btn" href="javascript:void(0);" title="voltar" ><span class="left">voltar</span></a>
    <a id="btnProximo" class="nav-btn" href="javascript:void(0);" title="próximo" ><span class="right">próximo</span></a>
</div>

<div id="canvas-container-detail" class="is-hidden">
    <canvas id="canvas-detail" width="394" height="502">
    </canvas>
    <div id="template-elements-detail">
    </div>
</div>

<div id="canvas-container-summary" class="is-hidden">
    <canvas id="canvas-summary" width="394" height="228">
    </canvas>
    <div id="template-elements-summary">
    </div>
</div>
