
<%= f.file_field :attachment %>

<% if @product.has_variants? %>
  <div>
    <%= Variant.model_name.human %>:
    <%= f.select :viewable_id, @variants %>
  </div>
<% else %>
  <%= hidden_field_tag :product_id, @product.id %>
<% end %>
